@keyframes shake {

    25% {
        rotate: 45deg;
    } 
    75% {
        rotate: -45deg;
    }

    0%,
    100% {
        rotate: none;
    }

}

input {
    z-index: 101;
}

.contrast {
    background-color: #ffffff;
    color: #000000;
}

*{padding:0;margin:0;}

 p, input, span {margin: 0.5rem;} 



body {
    font-size:19.7px; /* The original was 19.6778px for some reason :/ */
    font-family: 'Microsoft Yahei', 'Noto Sans', 'Arial', 'Helvetica', sans-serif; /* the original just had Microsoft Yahei due to it being in Chinese, i added some other fonts */
    background-size: 100% auto ;
    /*background-image: url(cgs/CG3.jpg); /*for testing purposes*/
    
}

body.no-scroll {
    overflow: hidden;
}

.shake {
    animation-name: shake;
    animation-duration: 4s;
}

.chara-img {
    z-index: -1;
    position: fixed;
    /*top: 30%;*/
    bottom: 30%;
    height: 70%;
}

body:not(.portrait) #character-right {
    right: -15%;
}

body:not(.portrait) #character-left,body:not(.portrait) #character-mostleft {
    right: 60%;
}

body:not(.portrait) #character-center {
    right:20%;
}

.inactive {
    opacity: 0.7;
}

.portrait .inactive {
    display: none;
}

.portrait .active {
    margin: auto;
    text-align: center;
}

.active {
    opacity: 1;
}

.hide {
    display: none !important;
}

#char_name, #dialogue {
    display: inline-block ;
    /*border-style: solid;*/
}

#char_name, #char_name * {
    float: left;
    min-width: 5rem;
    text-align: center;
}

#char_name {
    padding-top: 1rem;
    padding-left:1rem;
    padding-bottom: 1rem;
    padding-right:1rem;
    display: inline-block ;
    background-image: url(imgs/dialogue-bg.png);
    background-size: 100vw 100vh; 
}

#dialogue {
    
    /*float: left;*/
    height: 10rem;
    min-width:100%;
    /*width: 100%;*/
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    background-image: url(imgs/dialogue-bg.png);
    background-size: 99% 105%;
    font-size: 1.5rem; /* like the original */
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* copied from the original */
    overflow: auto;
}

#full_page_dialogue {
    height: 35rem;
    min-width:100%;
    /*width: 100%;*/
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    background-image: url(imgs/dialogue-bg.png);
    background-size: 99% 105%;
    font-size: 1.5rem; /* like the original */
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* copied from the original */
    overflow: auto;
}



#vn {
    width: 100vw;
}

#dialogue-box {
    position:fixed;
    width: calc(97% - 2rem);
    bottom:0;
    text-align:center;
}